.telaLogin{
    width: 100vw;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    background-image: url('/img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

.login{
    margin-top: 60px;
    width: 300px;
    height: 400px;
    background-color: rgba(240, 248, 255, 0.040);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    backdrop-filter: blur(3px);
}

form{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

input{
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 10px 25px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
    border-radius: 5px;
}

#botaoQuest{
    background-color: #000000;
    color: white;
    padding: 10px 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
}

::placeholder{
    text-align: center;
}

.login label, .login p, .login a, .login h3{
    color: white;
}

h1{
    padding: 5px 10px;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;    
    background-color: rgba(240, 248, 255, 0.040);
    font-size: 25px;
}

.pular{
    position: absolute;
    top: calc(100vh - 85px);
    right: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pular img{
    width: 40px;
}
