@media(max-width: 1000px) {
  .home{
    height: 70vh;
    background-image: url('/img/bg copy.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
  }

  .topoDireita{
    display: none;
  }

  .lado{
    margin-left: 20px;
  }

  nav {
    display: flex;
  }
  
  .nav-links li {
    list-style: none;
    width: 100%;
    border-bottom: solid 1px;
  }
  
  .nav-links a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 20px 0;
    display: flex;
    justify-content: center;
  }
  
  .burger {
    display: none;
    cursor: pointer;
  }
  
  .burger div {
    width: 25px;
    height: 3px;
    background-color: #fffde6;
    margin: 5px;
    transition: all 0.3s ease;
  }
  
  header span{
    width: 20px;
    color: white;
    margin: 0 20px;
}
    .nav-links {
      position: fixed;
      background-color: #fffde6;
      height: calc(100vh - 80px);
      top: 80px;
      right: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      border-left: solid 1px;
      transform: translateX(100%);
      transition: transform 0.5s ease-in-out;
    }
  
    .nav-links.open {
      transform: translateX(0%);
    }
  
    .burger {
      display: block;
      margin-right: 20px;
    }

    .telaLogin{
      height: 70vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .telaCadastro .cadastro{
      width: 90vw;
    }

    .login input{
      padding: 10px 20px;
    }

    .secaoCadastro{
      width: 90vw;
    }
    .formLinha{
      display: flex;
      flex-direction: column;
    }

    .textoLabel{
      display: flex;
      justify-content: center;
    }

    #cpf{
      margin: 0;
    }
    #foto3x4{
      padding: 5px;
      font-size: 12px;
    }

    .formLeft{
      margin-right: 0;
    }
    .formRight{
      margin-left: 0;
    }
  }
  
  .burger .line1 {
    transform: rotate(0) translate(0, 0);
  }
  
  .burger .line2 {
    opacity: 1;
  }
  
  .burger .line3 {
    transform: rotate(0) translate(0, 0);
  }
  
  .burger.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .burger.toggle .line2 {
    opacity: 0;
  }
  
  .burger.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }