header{
    width: 100vw;
    height: 80px;
    background-color: #fffde6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.lado{
    margin: 0px 50px;
    display: flex;
    align-items: center;
}

header img{
    width: 20px;
}

header #pesquisar{
    margin-left: 50px;
    margin-right: 20px;
}

header p{
    margin: 0 10px;
}

#preco{
    margin: 0 20px 0 0;
}

header a{
    display: flex;
    align-items: center;
    padding: 0;
}